/* IMPORT CUSTOM FONT */
@import 'webfonts.css';
@import 'customPreflight.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: #586472 transparent;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  background: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #586472;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.vindr-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.vindr-scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: transparent;
}

.vindr-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #586472;
  cursor: pointer;
}

.vindr-scrollbar::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Truncate 2 lines utility */
.truncate-2-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.3;
  /* height: 2.1rem; */
}

.dd-shadow {
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
}

.border-0 .ant-select-selector {
  border-width: 0 !important;
  box-shadow: none;
}

.ant-dropdown-menu-submenu-title {
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

.tox-statusbar__branding {
  display: none;
}

.tox-promotion {
  display: none;
}

.ant-menu-item-selected,
.ant-menu-item-active {
  color: #39c2d7 !important;
}

.ant-menu-item-selected::after,
.ant-menu-item-active::after,
.ant-menu-item-hover::after,
.ant-menu-item-only-child-hover::after,
.ant-menu-item:hover::after,
.ant-menu-submenu:hover::after,
.ant-menu-submenu-selected::after,
.ant-menu-submenu-open::after {
  border-color: #39c2d7 !important;
  border-width: 1px !important;
  transition: none !important;
}

.ant-menu-item::after {
  transition: none !important;
}

.ant-empty-normal {
  color: rgba(255, 255, 255, 0.75) !important;
}

.delete-modal .ant-modal-content {
  background-color: #1f313b !important;
}
.delete-modal .ant-modal-content .ant-modal-confirm-title {
  color: white !important;
}

.ant-layout-sider-zero-width-trigger {
  width: 10px !important;
}

@media (max-width: 640px) {
  .ant-layout-sider-zero-width-trigger {
    width: 15px !important;
  }
}

ul.ant-menu.ant-menu-sub.ant-menu-vertical {
  margin-bottom: 0;
  font-size: 12px;
}

.overlay-bg {
  z-index: 30 !important;
  isolation: isolate;
}

.overlay-bg + .popup {
  z-index: 31 !important;
  isolation: isolate;
}

@media (max-width: 576px) {
  .ant-picker-panels,
  .ant-picker-datetime-panel {
    flex-direction: column;
  }

  .ant-picker-dropdown .ant-picker-datetime-panel .ant-picker-time-panel {
    border: none;
  }
}

/* Desktop & Mobile Safari Only */

@supports (-webkit-backdrop-filter: blur(1px)) {
  .ant-menu-submenu-popup .ant-menu-vertical .ant-menu-item {
    padding-left: 16px;
    padding-right: 16px;

    margin: 4px;
  }

  .ant-menu-horizontal .ant-menu-item {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* @supports not (inset-inline-start: auto) {
  .ant-select .ant-select-arrow {
    left: auto;
    right: 11px;
  }

  .ant-modal .ant-modal-close {
    right: 16px;
  }

  .ant-menu-light.ant-menu-horizontal > .ant-menu-item::after, .ant-menu-light.ant-menu-horizontal > .ant-menu-submenu::after {
    left: 16px;
    right: 16px;
  }
} */

.overlay-bg,
.popup,
.popup * {
  user-select: none;
}

/* Fix zoom input on Mobile */
/* @media only screen and (hover: none) and (pointer: coarse) {
  input,
  select,
  textarea {
    font-size: 11px;
  }

  input:focus,
  select:focus,
  textarea:focus {
    font-size: 16px;
  }
} */

.pagination-table {
  user-select: none;
  touch-action: none;
}
/* Disable select text table when press on table mobile */
@media only screen and (hover: none) {
  .ant-table-tbody,
  .ant-table-tbody > tr,
  .ant-table-tbody > tr > td {
    user-select: none;
    /* touch-action: none; */
  }
}

/* Fix select have both arrow down and clear show same time */
.ant-select:hover:has(.ant-select-arrow + .ant-select-clear) .ant-select-arrow {
  display: none;
}

.ant-table-wrapper .ant-table.ant-table-small .ant-table-tbody>tr>td.ant-table-cell:has(>.ant-checkbox-wrapper) {
  padding: 0;
}

.ant-table-wrapper .ant-table.ant-table-small .ant-table-tbody>tr>td.ant-table-cell .ant-checkbox-wrapper {
  padding: 8px;
}

/* Disable hover selected color in table */
.dark .ant-table-wrapper .ant-table-tbody >tr.ant-table-row-selected:hover>td {
  background-color: #2C4654;
}

.ant-form-item .ant-form-item-label >label .ant-form-item-tooltip {
  cursor: pointer;
}

.resizable-title .ant-table-column-sorters {
  width: 101% !important;
}
